[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/.config/zsh/antigen"]
	path = zsh/.config/zsh/antigen
	url = https://github.com/zsh-users/antigen.git
