[submodule "files/zsh/.config/zsh/zgen"]
	path = files/zsh/.config/zsh/zgen
	url = https://github.com/tarjoilija/zgen
[submodule "files/tmux/.tmux/plugins/tpm"]
	path = files/tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
